@model IEnumerable<Group>

<table class="table">
    <thead>
        <tr>
            <th>Номер</th>
            <th>Мін вік</th>
            <th>Макс вік</th>
            <th>Ціна</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model)
        {
            <tr>
                <td>@group.Name</td>
                <td>@group.MinChildAge</td>
                <td>@group.MaxChildAge</td>
                <td>@group.PricePerMonth</td>
                <td>
                    <a asp-action="Delete" asp-controller="Group" asp-route-id="@group.Id"
                       class="btn btn-danger">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
