@model IEnumerable<Department>

<div class="m-2"></div>>
<div class="container">
    @if (signInManager.IsSignedIn(User) && User.IsInRole(DefaultRoles.Admin))
    {
        <a asp-action="AddDepartment" class="btn btn-primary">Добавити відділ</a>
    }

    <div class="row">
        @foreach (var department in Model)
        {
            <div class="col-6">
                @if (!string.IsNullOrEmpty(department.ImagePath))
                {
                    <a asp-action="DepartmentDetails" asp-route-id="@department.Id">
                        <img src="@Url.Content(@department.ImagePath)" alt="" class="img-fluid img-responsive card1" />
                    </a>
                }
            </div>
            <div class="col-6">
                <div>
                    <h4>@department.Name</h4>
                    <ul>
                        @foreach (var sectione in department.Sections)
                        {
                            <li>@sectione.Name  <a asp-action="SectionDetails" asp-route-id="@sectione.Id">Деталі</a></li>
                        }
                    </ul>
                </div>
                @if (signInManager.IsSignedIn(User) && User.IsInRole(DefaultRoles.Admin))
                {
                    <div>
                        <a class="btn btn-info" asp-action="AddSection" asp-route-departmentId="@department.Id">Добавити секцію</a>
                    </div>
                }
            </div>
            <div style="height: 10px; width: 100%;"></div>
        }
    </div>
</div>